<style>
.workshop-complete-image {
    margin: 80px auto 50px auto;
    width: 340.8px;
}

.workshop-complete-words {
    font-family: Space Mono, monospace;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
}

.horizontal-bar {
    background-color: #000000;
    width: 120px;
    height: 12px;
    margin: 80px auto 0 auto;
}
</style>

<div>
    <div class="workshop-complete-image">
        <img src="\images\NF_mascot.jpg">
    </div>
    <div class="workshop-complete-words">
        <p>
            You did it! 
            <br> Workshop complete
        </p>
    </div>
    <div class="horizontal-bar"></div>
</div>