/* Food Buttons (Default positions and style) */
.cake, .ice_cream, .hot_dog, .burger, .taco, .pizza {
  float: left;
  outline: none;
  background: url("assets/cake.png");
  background-size: cover;
  background-color: #fcfcfc;
  border: 3px solid black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 1.5vw;
  width: 9vw;
  height: 9vw;
  background-repeat: no-repeat;
}

/* Style of images inside buttons */
.ice_cream {
  background: url("assets/ice_cream.png");
  background-repeat: no-repeat;
  background-size: 5vw 9vw;
  background-position-x: center;
  background-color: #fcfcfc;
}

.hot_dog {
  background: url("assets/hot_dog.png");
  background-repeat: no-repeat;
  background-size: 10vw 10vw;
  background-position-x: center;
  background-position-y: center;
  background-color: #fcfcfc;
}

.burger {
  background: url("assets/burger.png");
  background-repeat: no-repeat;
  background-size: 6vw 6vw;
  background-position-x: center;
  background-position-y: center;
  background-color: #fcfcfc;
}

.taco {
  background: url("assets/taco.png");
  background-repeat: no-repeat;
  background-size: 8vw 5vw;
  background-position-x: center;
  background-position-y: center;
  background-color: #fcfcfc;
}

.pizza {
  background: url("assets/pizza.png");
  background-repeat: no-repeat;
  background-size: 9vw 6vw;
  background-position-x: center;
  background-position-y: center;
  background-color: #fcfcfc;
}


/* Confirm button */
.vendor_button {
  margin: 2vw;
  float: right;
  text-align: center;
  display: inline-block;
  font-size: 2vw;
  font-family: courier;
  color: solid white;
  font-weight: bold;
  background-color: #4dff4d;
  height: 7vw;
  width: 12vw;
}

/* Reset Vendor Button */
.vendor_reset {
  margin: 2vw;
  float: right;
  text-align: center;
  display: inline-block;
  font-size: 2vw;
  font-family: courier;
  color: solid white;
  font-weight: bold;
  background-color: #FF0000;
  height: 7vw;
  width: 12vw;
  
}

/* Vendor container */
.vendor_div {
  padding-top: 1vw;
  padding-left: 10vw;
  padding-bottom: 1vw;
  padding-right: 10vw;
  background-image: url('assets/oven.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 73vw;
  height: 55vw;
}
