/* Positions and style for the code blocks */
.codeBlocks {
  margin: 1vw;
  width: 11vw;
  height: 6vw;
}

/* Positions and style for the drop places */
.dropClass {
  width: 8vw;
  height: 4vw;
  overflow: hidden;
  margin: 0.3vw;
}

.terminal_div {  
  background-image: url('assets/Terminal.png');
  padding-top: 12vw;
  padding-left: 9vw;
  padding-bottom: 0vw;
  padding-right: 6vw;
  width: 79vw;
  height: 48vw;
  overflow: hidden;
}