.inventor_div {
  padding-top: 10vw;
  padding-left: 5vw;
  padding-bottom: 0vw;
  padding-right: 1vw;
  background-image: url('assets/find.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 78vw;
  height: 48vw;
}

.text_box {
  float: left;
  background-color: transparent;
  width: 45vw;
  height: 5vw;
  resize: none;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  padding: 1vw 0;
}

.text_box h3 {
  margin: 0 auto;
  text-align: left;
  color: #228B22;
}

.second {
  background-color: #4dff4d;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  border-radius: 25%;
}