/* The container holding the "did you find the inventor" image */
.inventor_div {
  background-image: url('assets/find.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 25vw;
}

/* The child container of inventor_div, holds the text box insert area */
.box_half {
  padding-top: 9vw;
  padding-left: 5vw;
  float: left;
  width: 57vw;
  height: 23vw;
}

.text_box {
  float: left;
  background-color: transparent;
  width: 45vw;
  height: 5vw;
  resize: none;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  padding: 1vw 0;
}

.text_box h3 {
  margin: 0 auto;
  text-align: left;
  color: #228B22;
}

/* Placement of the second check button in inventor_div */
.half {
  float: right;
  padding-top: 3.5vw;
  padding-right: 4vw;
  height: 23vw;
  width: 17vw;
}

/* Style for the second check button (for the inventor_div) */
.second {
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  text-align: left;
  display: inline-block;
  font-size: 2vw;
  margin: 4px 2px;
  border-radius: 25%;
  width: 11vw;
}
