/* Positions and style for the code blocks */
.codeBlocks {
  float: right;
  margin: 2vw;
  width: 10vw;
  height: 10vw;
  border: 1px solid white;
}

/* Positions and style for the drop places */
.dropClass {
  float: left;
  width: 6vw;
  height: 11vw;
  overflow: hidden;
  margin: 0.3vw;
  border: 3px solid blue;
}

/* Style for door */
.door_div {
  padding-top: 0vw;
  padding-left: 10vw;
  padding-bottom: 0vw;
  padding-right: 0vw;
  background-image: url('assets/Door.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vw;
  height: 40vw;
}

/* Style for Cannon */
.cannon {
  pointer-events: none;
}