/* Positions vault text box */
.lock {
  float: left;
  width: 34%;
  height: 20%;
  border: 10px solid white;
  border-radius: 5px;
  resize: none;
  margin: 1.7vw;
  text-align: center;
  font-family: courier;
  font-size: 50px;
  padding: 10px 0px;
  font-weight: bold;
}

#left_div {
  float: left;
  padding-top: 15%;
  padding-left: 10%;
  width: 50%;
  height: 100%;
}

#right_div {
  float: right;
  padding-top: 31%;
  padding-right: 17%;
  width: 50%;
  height: 100%;
}

/* Vault buttons (Adding)*/
.first_up, .sec_up {
  float: left;
  background-color:#42f56c;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 5vw;
  margin: 1.5vw;
  width: 34%;
  line-height: 2vw;
  outline: none;
}

/* Vault buttons (Subtracting)*/
.first_down, .sec_down {
  float: left;
  background-color: #FF0000;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 70px;
  margin: 1.7vw;
  width: 34%;
  line-height: 2vw;
  outline: none;
  
}

/* Vault confirm button */
.vault_button {
  text-align: left;
  display: inline-block;
  font-size: 2vw;
  font-family: courier;
  color: #43a4e0;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  width: 10vw;
  
}

/* Vault container with background image as vault */
.vault_div {
  background-image: url('assets/Vault.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 73vw;
  height: 55vw;
}

/* Plot text style*/
h5 {
  font-size: 20px;
}

/* Buffet image position */
.buffet {
  display: inline-block;
  pointer-events: none;
}
