<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<meta name="theme-color" content="#000000" />
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<meta name="application-name" content=" " />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
<title>{{ .Title }} :: {{ .Site.Title }}</title>
<link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
<!-- <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
<link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
<link href="{{(printf "theme-%s/style.css" (.Site.Params.themeStyle| default "flex")  ) | relURL}}" rel="stylesheet">
{{with .Site.Params.themeVariant}}
<link href="{{(printf "theme-%s/variant-%s.css" ($.Site.Params.themeStyle| default "flex") .) | relURL}}"
      rel="stylesheet">
{{end}}
<link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">
<link rel="shortcut icon" href="https://www.nuevofoundation.org/favicons/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="57x57"
      href="https://www.nuevofoundation.org/favicons//apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="https://www.nuevofoundation.org/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="https://www.nuevofoundation.org/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60"
      href="https://www.nuevofoundation.org/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120"
      href="https://www.nuevofoundation.org/favicons/pple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76"
      href="https://www.nuevofoundation.org/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152"
      href="https://www.nuevofoundation.org/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://www.nuevofoundation.org/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://www.nuevofoundation.org/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://www.nuevofoundation.org/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://www.nuevofoundation.org/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://www.nuevofoundation.org/favicons/favicon-128.png" sizes=" 128x128" />
<link href="https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/nuevoweb.css" />
<link rel="stylesheet" href="/css/chunk.css" />
<link rel="stylesheet" href="/css/data-style.css" />
<script src="{{"js/jquery-2.x.min.js" | relURL}}"></script>
<script type="text/javascript">
      var baseurl = "{{.Site.BaseURL}}";
</script>

<script lang="JavaScript">

      function toggleVisibility() {

            //Toggle Hamburger Menu
            const menu = document.getElementById("mobile-nav-menu");
            if (menu.style.display == 'none') {
                  menu.classList.replace("transition-out", "transition-in")
                  menu.style.display = 'block';
            }
            else if (menu.style.display == 'block') {
                  menu.classList.replace("transition-in", "transition-out")
                  menu.style.display = 'none';
            }
      }
</script>
{{ partial "custom-head.html" . }}