/* Positions and style for the code blocks */
.codeBlocks {
  margin: 10px;
  width: 100px;
  height: 60px;
}

/* Positions and style for the drop places */
.dropClass {
  width: 80px;
  height: 40px;
  overflow: hidden;
  margin: 3.0px;
}

.terminal_div {  
  background-image: url('assets/Terminal.png');
  padding-top: 120px;
  padding-left: 90px;
  padding-bottom: 0px;
  padding-right: 40px;
  width: 790px;
  height: 480px;
  overflow: hidden;
}

/* Positions for code block images inside rectangles */
.img {
  max-width: 90%;
  max-height: 90%;
}
