/* Positions and style for the code blocks */
.codeBlocks {
  position: relative;
  display: block;
  top: 19vw;
  right: -8vw;
  float: left;
  width: 8vw;
  height: 4vw;
  margin: 1vw;
  border: 1px solid green;
}

/* Positions and style for the drop places */
.dropClass {
  position: relative;
  display: block;
  top: 14.5vw;
  right: -9vw;
  float: left;
  width: 8vw;
  height: 4vw;
  margin: 1vw;
  border: 1px solid white;
}

/* Reference position for blocks */
.terminal_div {
  position: relative;
  height: 50vw;
  width: auto;
}

/* Terminal image position inside container */
.terminal {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -30px;
  pointer-events: none;

}

/* Positions for code block images inside rectangles */
.img {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  top: -30px;
}

/* Button Format (default) */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style for Enter button */
.button1 {
  background-color: #4dff4d;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  position:relative;
  top: 36vw;
  left: 14vw;
  border-radius: 25%;
}

/* Style for reset button */
.reset {
  background-color: #FF0000;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  position:relative;
  top: 0vw; /* positive = more down*/
  left: vw; /* positive = more right */
  border-radius: 25%;
}
