.terminal_div {
  padding-top: 160px;
  padding-left: 110px;
  padding-bottom: 0px;
  padding-right: 30px;
}

.outer {
  float: left;
  background-color: transparent;
  width: 450px;
  height: 50px;
  resize: none;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  padding: 10px 0;
}

.outer h3 {
  margin: 0 auto;
  text-align: left;
  color: #228B22;
}

.prev {
  float: left;
  background-color: transparent;
  width: 450px;
  height: 35.0px;
  resize: none;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  padding: 10px 0;
  margin-top: 70px;
}

.prev h3 {
  margin: 0 auto;
  text-align: left;
  color: #228B22;
}


.text-area {
  float: left;
  background-color: transparent;
  color: green;
  width: 400px;
  height: 130px;
  font-size: 20px;
  resize: none;
}

::placeholder {
  color: lighter;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 10px;
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
}

.wrong {
  background-color: #F08080;
  color: black;
}

.right {
  background-color: #3CB371;
  color: black;
}

.table,
th,
td {
  border: 2px black;
  font-size: 15px;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:first-child {
  font-weight: bold;
}

[contenteditable] {
  outline: 0px solid transparent;
}