.terminal_div {
	position:relative;
	height:34vw;
	width: auto;
}

.text-area {
  position: relative;
  top: 15vw;
  left: 11vw;
  background-color: gray;
  color: green;
  width: 52%;
  height: 10%;
  font-size: 20px;
  resize: none;
}

::placeholder {
  color: lighter;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 10px;
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
}

.table, th, td {
  border: 2px black;
  font-size: 25px;
}
tr:hover 
{
	background-color:#f5f5f5;
}
tr:first-child {
  font-weight: bold;
}
