<div class="lg-icon-guide" aria-label="Logic circuit icon guide">
	<div class="lg-icon-guide-item">
		<img src="../media/logicinput.png" alt="" />
		<span><strong>Input</strong>Set 0 or 1</span>
	</div>
	<div class="lg-icon-guide-item">
		<img src="../media/logicoutput.png" alt="" />
		<span><strong>Output</strong>Shows the result</span>
	</div>
	<div class="lg-icon-guide-item">
		<img src="../media/logicand.png" alt="" />
		<span><strong>AND</strong>Both must be 1</span>
	</div>
	<div class="lg-icon-guide-item">
		<img src="../media/logicor.png" alt="" />
		<span><strong>OR</strong>Either can be 1</span>
	</div>
	<div class="lg-icon-guide-item">
		<img src="../media/logicnot.png" alt="" />
		<span><strong>NOT</strong>Reverses 0 and 1</span>
	</div>
</div>