<div id="footer" class="row">
    <div class="col-xs-12">
        <div class="App-footer">
            <div class="App-footer-big">
                Join the conversation on social media.
            </div>
            <div class="social-images">
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/nuevofoundation"
                    class="footer-pics">
                    <i aria-label="Nuevo Foundation Instagram" class="fab fa-2x fa-instagram"></i>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/nuevofoundation"
                    class="footer-pics">
                    <i aria-label="Nuevo Foundation Twitter" class="fab fa-2x fa-twitter"></i>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/NuevoFoundation"
                    class="footer-pics">
                    <i aria-label="Nuevo Foundation Facebook" class="fab fa-2x fa-1x fa-facebook-f"></i>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/nuevofoundation"
                    class="footer-pics">
                    <i aria-label="Nuevo Foundation Facebook" class="fab fa-2x fa-linkedin"></i>
                </a>
            </div>
            <div class="App-footer-small">
                © Copyright 2019, All Rights Reserved by Nuevo Foundation, a
                501(c)(3) nonprofit.
            </div>
        </div>
    </div>
</div>