<style>
    .workshop-complete-image {
        margin: 40px auto 50px auto;
        width: 340.8px;
    }
    
    .workshop-complete-words {
        font-family: Space Mono, monospace;
        font-weight: bold;
        font-size: 48px;
        line-height: 71px;
        text-align: center;
    }
    
    .horizontal-bar {
        background-color: #000000;
        width: 120px;
        height: 12px;
        margin: 80px auto 0 auto;
    }
</style>

<!-- Next prev page -->
{{- $currentNode := . -}}

{{- template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode -}}

<!--
    This logic recursively traverses the page tree (pre-order traversal, in ascending order of each page's weight property within a given level)
    During this iteration, the "menu" property changes to be the item in the iteration, whereas "currentNode" is fixed and
    represents the current page, where the next and previous buttons will be placed.
 -->
{{- define "menu-nextprev" -}}
    {{- $currentNode := .currentnode -}}
    {{- if ne .menu.Params.hidden true -}}
        {{- if hasPrefix $currentNode.Permalink .menu.Permalink -}}
            {{- $currentNode.Scratch.Set "NextPageOK" "OK" -}}
            {{- $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") -}}
        {{- else -}}
            {{- if eq ($currentNode.Scratch.Get "NextPageOK") "OK" -}}
                {{- $currentNode.Scratch.Set "NextPageOK" nil -}}
                {{- $currentNode.Scratch.Set "nextPage" .menu -}}
            {{- end -}}
        {{- end -}}
        {{- $currentNode.Scratch.Set "prevPageTmp" .menu -}}
        {{- $currentNode.Scratch.Set "pages" .menu.Pages -}}
        {{- if .menu.IsHome -}}
            {{- $currentNode.Scratch.Set "pages" .menu.Sections -}}
        {{- else if .menu.Sections -}}
            {{- $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) -}}
        {{- end -}}
        {{- $pages := ($currentNode.Scratch.Get "pages") -}}

        {{- range $pages.ByWeight -}}
            {{- template "menu-nextprev" dict "menu" . "currentnode" $currentNode -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

    
{{- if not $.Site.Params.disableNavChevron -}}
    {{ $isFirstPageOfWorkshop := (ne .Section ($.Scratch.Get "prevPage").Section) }}
    {{ $isLastPageOfWorkshop := (ne .Section ($.Scratch.Get "nextPage").Section) }}

    {{- if (and ($isLastPageOfWorkshop) (not $isFirstPageOfWorkshop) (not $.IsHome)) -}}
    <div>
        <hr/>
        <div class="workshop-complete-image">
            <img src="/images/NF_mascot.jpg">
        </div>
        <div class="workshop-complete-words">
            <p>
                {{ i18n "you-did-it" }}
                <br> 
                {{ i18n "workshop-complete" }}
            </p>
        </div>
    </div>
    {{- end -}}
    {{/* make sure that at least one nav button will be present before rendering the .navigation div to avoid showing its borders with nothing in it. */}}
    {{- if (or (not $isFirstPageOfWorkshop) (not $isLastPageOfWorkshop)) -}}
        <div id="navigation">
            <div class="next-prev-wrapper-div">
            {{- if (not $isFirstPageOfWorkshop) -}}
                {{- with ($.Scratch.Get "prevPage") -}}
                    {{ partial "next-prev-button" (dict "subsection" .Title "Permalink" .Permalink "isNext" false)}}
                {{- end -}}
            {{- end -}}
            </div>
            <div class="next-prev-wrapper-div">
            {{- if (not $isLastPageOfWorkshop) -}}
                {{- with ($.Scratch.Get "nextPage") -}}
                    {{ partial "next-prev-button" (dict "subsection" .Title "Permalink" .Permalink "isNext" true)}} 
                {{- end -}}
            {{- end -}}
            </div>
        </div>
    {{- end -}}
{{- end -}}
