<style>
    .nextbutton-border {
        margin: auto auto auto 0px;
        width: 340px;

        background: #FFFFFF;
        border: 4px solid #000000;
        border-radius: 4px; 
    }

    .nextbutton-next-text {
        margin: 21px auto auto 20px;

        text-align: left;
        font-family: Space Mono, monospace;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.64);
    }

    .nextbutton-subsection-name {
        margin: 13px auto auto 21px;

        text-align: left;
        font-family: Lato, monospace;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
    }

    .nextbutton-horizontal-bar {
        margin: 26px auto auto 25px;
        width: 48px;
        
        border: 2px solid #000000;
    }

    .nextbutton-part-text {
        margin: 26px auto auto 21px;

        text-align: left;
        font-family: Lato, monospace;
        font-size: 18px;
        line-height: 22px;
    }

    .nextbutton-image {
        margin: 15px 15px 5px auto;

        font-size: 20px;
        line-height: normal;
        text-align: right;
    }

    .prevbutton-image {
        margin: 15px auto 5px 15px;
        
        font-size: 20px;
        line-height: normal;
        text-align: left;
    }

</style>

<div class="nextbutton-border">
    <div class="nextbutton-next-text">
        Up next:
    </div>
    <div class="nextbutton-subsection-name">
        {{.subsection}}
    </div>
    <div class="nextbutton-horizontal-bar"></div>
    {{if .isNext}}
    <div class="nextbutton-image">
        <i class="fa fa-arrow-right"></i>
    </div>
    {{else}}
    <div class="prevbutton-image">
        <i class="fa fa-arrow-left"></i>
    </div>
    {{end}}
</div>