<div id="navigation">
<!-- Next prev page -->
{{- $currentNode := . -}}

{{- template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode -}}

<!--
    This logic recursively traverses the page tree (pre-order traversal, in ascending order of each page's weight property within a given level)
    During this iteration, the "menu" property changes to be the item in the iteration, whereas "currentNode" is fixed and
    represents the current page, where the next and previous buttons will be placed.
 -->
{{- define "menu-nextprev" -}}
    {{- $currentNode := .currentnode -}}
    {{- if ne .menu.Params.hidden true -}}
        {{- if hasPrefix $currentNode.URL .menu.URL -}}
            {{- $currentNode.Scratch.Set "NextPageOK" "OK" -}}
            {{- $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") -}}
        {{- else -}}
            {{- if eq ($currentNode.Scratch.Get "NextPageOK") "OK" -}}
                {{- $currentNode.Scratch.Set "NextPageOK" nil -}}
                {{- $currentNode.Scratch.Set "nextPage" .menu -}}
            {{- end -}}
        {{- end -}}
        {{- $currentNode.Scratch.Set "prevPageTmp" .menu -}}
        {{- $currentNode.Scratch.Set "pages" .menu.Pages -}}
        {{- if .menu.IsHome -}}
            {{- $currentNode.Scratch.Set "pages" .menu.Sections -}}
        {{- else if .menu.Sections -}}
            {{- $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) -}}
        {{- end -}}
        {{- $pages := ($currentNode.Scratch.Get "pages") -}}

        {{- range $pages.ByWeight -}}
            {{- template "menu-nextprev" dict "menu" . "currentnode" $currentNode -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

    
{{- if not $.Site.Params.disableNavChevron -}}
    {{ $isFirstPageOfWorkshop := (ne .Section ($.Scratch.Get "prevPage").Section) }}
    {{ $isLastPageOfWorkshop := (ne .Section ($.Scratch.Get "nextPage").Section) }}

    {{- if (not $isFirstPageOfWorkshop) -}}
        {{- with ($.Scratch.Get "prevPage") -}}
            <a class="nav nav-prev" href="{{.URL}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i><label>{{.Title}}</label></a>
        {{- end -}}
    {{- end -}}
    {{- if (not $isLastPageOfWorkshop) -}}
        {{- with ($.Scratch.Get "nextPage") -}}
            <a class="nav nav-next" href="{{.URL}}" title="{{.Title}}" style="margin-right: 0px;"><label>{{.Title}}</label><i class="fa fa-chevron-right"></i></a>
        {{- end -}}
    {{- end -}}
{{- end -}}
</div>