name: Lighthouse CI
on: push
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@master

      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.63.2"
          extended: true

      - name: Build site
        run: hugo

      - name: Install packages
        run: npm install

      - name: Run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.4.x
          sh ./lighthouse.sh
